<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ECartAppWeb</display-name>
  <context-param>
    <param-name>baseUrl</param-name>
    <param-value>http://localhost:8080/ecart</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>/WEB-INF/pages/home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>backend</servlet-name>
    <jsp-file>/WEB-INF/pages/backend/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>backend</servlet-name>
    <url-pattern>/backend</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>administrator</web-resource-name>
      <url-pattern>/backend</url-pattern>
      <url-pattern>/backend/view-orders</url-pattern>
      <url-pattern>/backend/add-product</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>guest</web-resource-name>
      <url-pattern>/backend</url-pattern>
      <url-pattern>/backend/view-orders</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>GUEST</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>training</realm-name>
    <form-login-config>
      <form-login-page>/WEB-INF/pages/backend/login-form.jsp</form-login-page>
      <form-error-page>/WEB-INF/pages/backend/login-error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>GUEST</role-name>
  </security-role>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/pages/backend/403.jsp</location>
  </error-page>
</web-app>